 body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    /* color: #C88EA7; */
    color:#40514E;

    /* text-align: left; */
 }

 h1{
    font-size: 5.625rem;
    margin-top: 50px;
    font-family:  'Poppins', sans-serif;
    color: #66BFBF;
    line-height: 2;
 }

 /* h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
 } */

 h3{
    color: #11999E;
    /* text-align: left; */
 }

p{
    line-height: 2;
}

hr{
    border: dotted #804674 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container{
    /* background-color: #537188; */
    background-color: #F5FFC9;
    position: relative;
    padding-top: 100px;
     /* margin:100px 0; */
}

.mid-container{
    /* background-color: pink;
    width: 100px;
    height: 100px; */
    margin: 100px 0;
}

.bottom-container{
    margin: 50px;
    background-color: #66BFBF;
    padding: 50px 0 20px;
    
}

.dev{
    text-decoration: underline;
}

.intro{
    width: 30%;
    /* text-align: center; */
    margin: auto;
}



.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
   
    
}

 .top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    
}

.paint-img{
     width: 25%;
     float: left;
     /* white-space: inherit; */
     margin-right: 30px;
}

.dev-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;

}


.btn {
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    width:140px;
    height:50px;
    border-width:1px;
    color:#14396a;
    border-color:#3866a3;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    text-shadow:inset 0px 1px 0px #7cacde;
    background:linear-gradient(#63b8ee, #468ccf);
}

.btn:hover {
    background: linear-gradient(#468ccf, #63b8ee);
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}
                

/* .code-skill-description{
    clear: right;
     
}

.paint-skill-description{
    clear: left;
} */
/* 
img{
    border-radius: 50%;
} */